.App {
  text-align: center;
  color: gray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 50px;
  margin: 0px 10px;
}
.clock-internal {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50px;
  position: relative;
}
.hand-hour {
  border-top: 2px solid black;
  transform-origin: left;
  position: absolute;
  width: 25px;
  top: 35%;
  left: 50%;
}
.hand-mentis {
  border-top: 2px solid black;
  transform-origin: left;
  position: absolute;
  width: 30px;
  top: 35%;
  left: 50%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
}
.input-number {
  width: 50px;
}
button {
  border: 0px;
  background: #007bff;
  color: white;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
